@font-face {
    font-family: 'Space Grotesk';
    src: url(./Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    font-family: 'Space Grotesk';
    background-color: hsl(201, 100%, 93%);
}

html {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(201, 100%, 10%);
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 64px;
    padding-top: 40px;
    background-color: hsl(201, 100%, 93%);
    margin: 0px;
    border: 0px;
    width: 100%;
    max-width: 1285px;
    flex: 2 1 auto;
}

.title-and-description-container {
    width: 350px;
}

.title {
    color: hsl(201, 100%, 15%);
    margin-top: 0px;
}

.description {
    color: hsl(201, 100%, 25%);
}


.calculator {
    width: 320px;
    border: 2px solid hsl(201, 100%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(201, 100%, 80%);
    border-radius: 15px;
    margin-bottom: 10px;
}

.display-container {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: hsl(201, 100%, 80%);
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 260px;
    min-height: 150px;
    border: 2px solid black;
    font-size: 36px;
    text-wrap: wrap;
    text-align: end;
    padding: 0px 10px 5px;
    border: 2px solid hsl(201, 100%, 15%);
    border-radius: 10px;
    background-color: hsl(201, 100%, 90%);
}

.rows-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0px 10px 20px;
    background-color: hsl(201, 100%, 80%);
}

.first-row-container,
.second-row-container,
.third-row-container,
.fourth-row-container,
.fifth-row-container  {
    width: 300px;
    display: flex;
    justify-content: center;
}

.first-row-buttons,
.second-row-buttons,
.third-row-buttons,
.fourth-row-buttons,
.fifth-row-buttons  {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(201, 100%, 80%);
}

button {
    width: 60px;
    height: 60px;
    font-size: 32px;
    background-color: hsl(201, 100%, 87%);
    color: hsl(201, 100%, 15%);
    border: 2px solid hsl(201, 100%, 15%);
    border-radius: 10px;
}

button:hover {
    background-color: hsl(201, 100%, 15%);
    color: hsl(201, 100%, 87%);
    border-color: hsl(201, 100%, 87%);
}

.operator {
    background-color: hsl(61, 100%, 85%);
    color: hsl(61, 100%, 15%);
    border-color: hsl(61, 100%, 15%);
}

.operator:hover {
    background-color: hsl(61, 100%, 15%);
    color: hsl(61, 100%, 85%);
    border-color: hsl(61, 100%, 85%);
}

.equals-button {
    background-color: hsl(141, 100%, 85%);
    color: hsl(141, 100%, 15%);
    border-color: hsl(141, 100%, 15%);
}

.equals-button:hover {
    background-color: hsl(141, 100%, 15%);
    color: hsl(141, 100%, 85%);
    border-color: hsl(141, 100%, 85%);
}

.clear-button,
.backspace-button {
    font-size: 28px;
    width: 135px;
    background-color: hsl(1, 100%, 80%);
    color: hsl(1, 100%, 15%);
    border-color: hsl(1, 100%, 15%);
}

.clear-button:hover, 
.backspace-button:hover,
.operation-log-clear:hover {
    background-color: hsl(1, 100%, 15%);
    color: hsl(1, 100%, 80%);
    border-color: hsl(1, 100%, 80%);
}

.operation-log-container {
    width: 350px;
    margin-bottom: 16px;
}

.operation-log-title-bar {
    background-color: hsl(201, 100%, 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.operation-log-title {
    margin: 0px 0px 0px 10px;
    color: hsl(201, 100%, 25%);
    background-color: hsl(201, 100%, 80%);

}

.operation-log-clear {
    font-size: 20px;
    padding: 2px 4px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: hsl(1, 100%, 80%);
    color: hsl(1, 100%, 15%);
    border-color: hsl(1, 100%, 15%);
}

.operation-log-body {
    width: 350px;
    min-height: 400px;
    background-color: hsl(201, 100%, 88%);
    padding-top: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.operation-log {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: hsl(201, 100%, 88%);
    padding-bottom: 29.6px;
}

.operation-log p {
    color: hsl(201, 100%, 65%);
    margin: 8px 4px;
    background-color: hsl(201, 100%, 88%);
    margin: 0px;
    padding: 4px 0px 4px 8px;
    border-bottom: 1px dashed hsl(201, 100%, 84%);
}